html
  head
    script(src="https://livejs.com/live.js")
    //- script(type='text/javascript').
    //-   const all_timestamps = !{allTimestamps}
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="./style.css">
    title= title
  body
    h1= message
    button(type='button', onclick='fetch("http://localhost:7789/timestamp").then(r => {r.json().then(window.location.reload())})' ) Make New Timestamp
    //- button(type='button', onclick='fetch("http://localhost:7789/recent")' ) Play Recent
    ul
      each val, index in allTimestamps
        div(class="ts-container")
          img(class='stage_thumb', src='/thumbnail/' + val.uid + '.png')
          button(type='button', onclick='fetch("http://localhost:7789/play_slp/' + val.uid + '")' ) [#{index}] #{val.nice.stage_name} #{val.meta.desc} #{val.nice.ingame_time}
          button(type='button', class='red' onclick='fetch("http://localhost:7789/api/delete/' + val.uid + '")' ) [del #{index}]
          a(href="http://localhost:7789/edit/" + val.uid) edit
