html
  head
    script(src="https://livejs.com/live.js")
    script.
      console.log('hi from pug')
      let kevinrobot = 'global'
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    title= title
  body
    h1= message
    button(type='button', onclick='fetch("http://localhost:7789/timestamp").then(r => {r.json().then(window.location.reload())})' ) Make New Timestamp
    //- button(type='button', onclick='fetch("http://localhost:7789/recent")' ) Play Recent
    ul
      each val, index in allTimestamps
        button(type='button', onclick='fetch("http://localhost:7789/play_slp/' + val.uid + '")' ) [#{index}] #{val.nice.stage_name} #{val.meta.desc} #{val.nice.ingame_time}
